<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../script/endereco.js"></script>
  <link rel="stylesheet" href="../css/endereco.css" />    
  <title>Endereços</title>
</head>
<body>
  <div class="wrapper">
    <nav class="nav">
      <div class="nav-logo">
        <img src="../img/hello.png" alt="Hello Kitty" />
      </div>
      <img src="../img/logo1.png" alt="" />
    </nav>
    
    <main>
      <div class="box-form">
        <div class="register-container" id="register">
          <div class="top">
            <h2>Cadastre um novo Endereço</h2>
          </div>
          <div class="input-box">
            <input type="text" id="Titulo" name="Titulo" placeholder="Titulo" />
            <input type="text" id="CEP" name="CEP" placeholder="CEP" />
            <input type="text" id="Endereço" name="Endereço" placeholder="Endereço" />
            <input type="text" id="Número" name="Número" placeholder="Número" />
          </div>
          <div class="input-box">
            <button type="button" onclick="salvarendereco()">Cadastrar</button>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <p>Todos os direitos reservados &copy;</p>
    <p>Desenvolvedoras</p>
    <div class="teste">
      <a href="https://www.linkedin.com/in/bianca-tsuruda-prado-3666b421b/" target="_blank">Bianca Tsuruda Prado</a>
    </div>
    <div class="teste">
      <a href="https://www.linkedin.com/in/sophia-scala-6361901a7/">Sophia Scala Francisco</a>
    </div>
  </footer>
</body>
</html>
