<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../script/login.js"></script>
  <link rel="stylesheet" href="../css/login.css" />
  <title>Tela de Login</title>
</head>

<body>
  <div class="wrapper">
    <nav class="nav">
      <div class="nav-logo">
        <img src="../img/hello.png" alt="Hello Kitty" />
      </div>
      <img src="../img/logo1.png" alt="" />
    </nav>
    <main>
      <div class="box-form">
        <div class="register-container" id="register">
          <div class="top">
            <input
              type="button"
              class="cadastrarEndereco"
              value="Cadastrar um novo Endereço"
              onclick="redirecionarParaEndereco()"
            />
            <h2>Listagem de Endereços</h2>
            <ul id="endereco"></ul>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <p>Todos os direitos reservados &copy;</p>
    <p>Desenvolvedoras</p>
    <div class="teste">
      <a href="https://www.linkedin.com/in/bianca-tsuruda-prado-3666b421b/" target="_blank">Bianca Tsuruda Prado</a>
    </div>
    <div class="teste">
      <a href="https://www.linkedin.com/in/sophia-scala-6361901a7/">Sophia Scala Francisco</a>
    </div>
  </footer>
  <script>
    function redirecionarParaEndereco() {
      window.location.href = "Endereco.html";
    }
    window.onload = function() {
            var endereco = localStorage.getItem('endereco');
            document.getElementById('endereco').innerText = endereco;
        }
  </script>
</body>
</html>
